.btn1{
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}
.btn2{
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

.products{
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-wrap-text: true;
}
.prodcutsBox{
    -fx-padding: 4;
    -fx-alignment: center;
}
.teclat>Button{
    -fx-border-style: none;
}

.tabPaneProd {
-fx-background-color: grey;
    -fx-background-radius: 16;
}
.tabProd{
    -fx-background-color: blue;
    -fx-background-radius: 8 8 0 0;
}
.tabProd:active {
-fx-background-color: red;
}